@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Inter', sans-serif;
}
#root{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.App{
    width:60vw;

}
.post {
    display: flex;
    align-items: center;
    padding:  15px ;
    border: 2px solid darkviolet;
    margin-top: 35px;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;

}
.post-enter {
    opacity: 0;
}
.post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.post__btns{
    display:flex;
    padding:3px;
}
.page__wrapper {
   margin-top: 30px;
   display: flex;

}
.page{
    padding: 10px;
    border: 1px solid mediumpurple;
    cursor: pointer;
}
.page__current{
    border: 2px solid rebeccapurple;
    font-weight: bold;
    background: mediumpurple;
}
.navbar-wrapper{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 5%;
}
.navbar{
    height: 85px;
    width: 100vw;
    background: mediumpurple;
    font-size: 16px;
    position: relative;
    box-shadow:
            inset 1px 0 0 rgba(255,255,255,.1),
            inset -1px 0 0 rgba(255,255,255,.1),
            inset 150px 0 150px -150px rgba(255,255,255,.12),
            inset -150px 0 150px -150px rgba(255,255,255,.12);

}

.navbar:before,
.navbar:after {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 3px;
}
.navbar:before {
    border-bottom: 1px dashed rgba(255,255,255,.2);
}
.navbar:after {
    bottom: 0;
    border-top: 1px dashed rgba(255,255,255,.2);
}
.navbar-info{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.navbar-info:before,
.navbar-info:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 0;
    top: 8px;
    border-top: 18px solid #7b5197;
    border-bottom: 18px solid #7b5197;
    transform: rotate(360deg);
    z-index: -1;
}
.navbar-info:before {
    left: -15px;
    border-left: 12px solid rgba(255, 255, 255, 0);
}
.navbar-info:after {
    right: -15px;
    border-right: 12px solid rgba(255, 255, 255, 0);
}
.navbar-info li {
    display: inline-block;
    margin-right: -4px;
}

.navbar-info a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    color: white;
    transition: .3s linear;
}
.navbar-info a.navbar__item,
.navbar-info a:hover {background: rgba(0,0,0,.2);}
.button-out{
    padding:50%;
    font-family: 'Inter', sans-serif;
}
