
.myInput{
    width:100%;
    padding: 5px 15px;
    margin-top: 5px;
    border:2px solid #8044a6;
    border-radius:4px;
    outline:none;
    box-sizing:border-box;
    transition:.3s;
}

.myInput:focus{
    border-color:rebeccapurple;
    box-shadow:0 0 8px 0 rebeccapurple;
}